@media screen and (max-width: 341px){
    .desc_panel{
        margin: 20px 25px 0 !important;
    }
    .bottom_block{
        height:40px !important;
    }
    .info_panel input{
        width:140px !important;
    }
}
.content{
    font-family: 微软雅黑;
}
.info_panel{
    margin-top: 50px;
    border-top: 1px solid #e4e1e1;
    border-bottom: 1px solid #e4e1e1;
}
.info_panel input{
    width:160px;
    margin: 15px 0 15px 10px;
    border: 0;
}
.info_panel hr{
    margin: 0;
    border-top: 1px solid #e4e1e1;
}
.message_btn{
    /*display: inline-block;*/
    /*padding: 7px 10px;*/
    background-color: #e42121;
    /*border-radius: 5px;*/
    border-color: #e42121;
    color:#fff;
    margin: 8px 10px 8px 0 ;
}
.submit_btn{
    margin: 30px 10px;
}
.submit_btn button{
    background-color: #e42121;
    border-color: #e42121;
    font-size: 16px;
}
.desc_panel{
    margin: 65px 25px 0;
    color: #888;
}
.content-footer{
    display: none;
}
.bottom_block{
    height: 50px;
    background-color: #f54b4b;
}
.desc_panel p{
    margin-bottom: 5px;
    font-size: 12px;
}

.phone_logo{
    font-size: 160px;
    color: #f3564a;
    position: relative;
    display: inline-block;
    margin: 150px 0 50px;
    line-height: 1;
}
.phone_logo i{
    color: #e42121;
    position: absolute;
    right:10px;
    bottom: 0;
    display: inline;
    background-color: #fff;
    font-size: 50px;
    width: 54px;
    height: 54px;
    line-height: 56px;
    text-align: center;
    border-radius: 50%;
    vertical-align: middle;
}
.phone{
    color: #222;
}
.desc{
    color: #888;
}
.submit_btn1{
    width:100%;
    padding:15px;
    background-color: #fff;
    margin-top: 10px;
}
.submit_btn1 button{
    font-size: 16px;
    border-color: #e42121;
    background-color: #e42121;
}