@keyframes sploosh {
    0% {
        box-shadow: 0 0 0 rgba(66, 166, 233, 0.7);
        background-color: rgba(66, 166, 233, 0.7);
    }
    100% {
        box-shadow: 0 0 300px rgba(66, 166, 233, 0);
        background-color: rgba(66, 166, 233, 0);
    }
}

@media screen and (max-width: 341px) {
    .words_panel {
        margin-top: -60px !important;
        margin-left: -125px !important;
        background-size: 250px 120px !important;
        width: 250px !important;
        height: 120px !important;
    }

    .tag_info {
        margin-top: 35px !important;
    }
    .show_addr_panel{
        padding: 0 10px !important;
    }
    .default_shop{
        font-size: 12px !important;
    }
}



.content {
    font-family: 微软雅黑;
}

.banner {
    margin: 15px 0 0;

}

.banner > div {
    position: relative;
    height: 100px;
}

.circle_logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
}

.banner .iconfont {
    font-size: 46px;
    margin-top: -5px;
}

.banner p {
    margin: 60px 0 0;
    font-size: 16px;
}

.lines {
    height: 8px;
    background-color: #e4e1e2;
}

.content1 {
    margin-bottom: 52px;
}

.content1 > p {
    margin: 10px
}
.content1 i{
    color:#e42220;
    margin-right: 3px;
    vertical-align: middle;
}
.content1 img {
    width: 100%;
}

.content1_top{
    display: table;
    position: relative;
}
.recommend_shop>div{
    float: left;
    width: 49%;
}
.recommend_shop p{
    padding:5px 10px;
    margin: 0;
}
.recommend_shop strong{
    margin-right: 4px;
}


/*.default_shop{*/
    /*width: 50%;*/
    /*float: left;*/
    /*font-size: 14px;*/
    /*padding: 5px;*/
/*}*/
/*.default_shop p{*/
    /*margin: 0;*/
/*}*/
/*#triangle-left {*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-top: 10px solid transparent;*/
    /*border-right: 10px solid #fff;*/
    /*border-bottom: 10px solid transparent;*/
    /*position: absolute;*/
    /*left:50%;*/
    /*margin-left: -10px;*/
    /*top:50%;*/
    /*margin-top: -10px;*/
/*}*/

.content1_panel {
    position: relative;
    margin-top: 6px;
}

.shadow_panel {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4)
}

.words_panel {
    width: 300px;
    height:148px;
    position: absolute;
    top: 50%;
    margin-top: -74px;
    left: 50%;
    margin-left: -150px;
}

.tag_info {
    margin-top:57px;
    color: #fff;
    text-align: center;
}

.tag_info p {
    margin-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.carousel-indicators{
    bottom: -10px !important;
}
.carousel-indicators li {
    width: 8px !important;
    height: 8px !important;
}

.show_addr_panel{
    padding: 0 20px;
}