@media screen and (max-width: 341px){
    .call{
        font-size: 12px !important;
        padding: 5px 5px 3px !important;
    }
    .call i{
        font-size: 18px !important;
    }
    .run_shop{
        font-size: 12px !important;
        padding: 5px 5px 3px !important;
    }
    .run_shop i{
        font-size: 18px !important;
    }
}
.content{
    font-family: 微软雅黑;
}
.content-footer{
    display: none;
}
.img_panel{
    text-align: center;
}
.goods_info,.goods_info1{
    padding:10px;
    position: relative;
}
.cut_line{
    height: 10px;
    background-color: #e4e1e1;
}
.goods_name,.shop_name{
    width: 65%;
    font-size: 16px;
    color:#222;
    text-overflow: ellipsis;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.goods_price{
    color:#e42121;
    font-size: 20px;
}
.goods_spec{
    margin-left: 10px;
    color:#666
}
.call{
    position: absolute;
    top: 10px;
    right:10px;
    border: 1px solid #e42121;
    padding:5px 10px 3px;
    border-radius: 5px;
    color:#e42121;
    line-height: 1;
}
.call i{
    font-size: 24px;
    vertical-align: middle;
}
.fanwei,.address{
    color:#666
}
.goods_info1 i{
    color:#cccbcb;
    margin-right: 2px;
}
.run_shop{
    position: absolute;
    top: 10px;
    right:10px;
    border: 1px solid #cccbcb;
    padding:5px 10px 4px;
    border-radius: 5px;
    color:#999;
    line-height: 1;
}
.run_shop i{
    font-size: 22px;
    vertical-align: middle;
}
.goods_details{
    padding-top: 10px;
}
.goods_details .name{
    text-align: center;
    color: #e42121;
    font-size: 16px;
    margin: 0;
}
.submit_btn{
    width:100%;
    margin-top: 50px;
    padding:15px;
    border-top:1px solid #e4e1e1;
}
.submit_btn button{
    font-size: 16px;
    border-color: #e42121;
    background-color: #e42121;
}