.content{
    font-family: 微软雅黑;
}
.content-footer{
    display: none;
}
.content_text{
    width: 100%;
    height:250px;
    background:url('../img/personal/suggesstions.png') no-repeat;
    background-position: center;
    background-size: 30%;
    border:0;
    padding: 10px;
}
.cut-line{
    height: 6px;
    background-color: #e5e1e0;
}
.tel{
    padding: 10px;
    border-bottom: 1px solid #e3e2e0;
}
.content input{
    width: 100%;
    border: 0;
}
.btn-submit{
    width: 100%;
    position: fixed;
    bottom: 0;
    padding:15px;
    border-top:1px solid #e4e1e1;
    background-color: #fff;
}
.btn-submit button{
    font-size: 16px;
    border-color: #e42121;
    background-color: #e42121;
}
html{
    height:100%;
}