<link rel="stylesheet" href="./css/category.css">
<div class="content">
    <div class="row top_nav">
        <div class="col-xs-3 text-center" ng-click="nav_self(1)">
            <img ng-src="{{top1}}">液化气
        </div>
        <div class="col-xs-3 text-center" ng-click="nav_self(2)">
            <img ng-src="{{top2}}">桶装水
        </div>
        <div class="col-xs-3 text-center" ng-click="nav_self(3)">
            <img ng-src="{{top3}}">炊具
        </div>
        <div class="col-xs-3 text-center" ng-click="nav_self(4)">
            <img ng-src="{{top4}}">其他
        </div>
        <div class="hk_div">

        </div>
    </div>

    <div class="content1">
        <div class="goods">
            <div class="goods_info">
                <p class="goods_name">哈哈哈哈哈哈哈哈哈哈<span>300g</span></p>
                <p class="goods_info1">店铺电话-651561561351<span class="pull-right">656.00元</span></p>
            </div>
        </div>
        <div class="goods">
            <div class="goods_info">
                <p class="goods_name">哈哈哈哈哈哈哈哈哈哈<span>300g</span></p>
                <p class="goods_info1">店铺电话-651561561351<span class="pull-right">656.00元</span></p>
            </div>
        </div>
        <div class="goods">
            <div class="goods_info">
                <p class="goods_name">哈哈哈哈哈哈哈哈哈哈<span>300g</span></p>
                <p class="goods_info1">店铺电话-651561561351<span class="pull-right">656.00元</span></p>
            </div>
        </div>

    </div>
</div>


<!--<div ng-include="'template/footer.html'"></div>-->