<link rel="stylesheet" href="./css/main.css">
<div class="content">
    <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="./img/banner.png">
            </div>
            <div class="item">
                <img src="./img/banner.png">
            </div>
        </div>
    </div>

    <div class="banner row">
        <div class="col-xs-3 text-center">
            <div class="circle_logo">
                <i class="iconfont" style="color: #e3c820" id="circle_logo1">&#xe605;</i>
            </div>
            <span style="display: none">BS01</span>
            <p>液化气</p>
        </div>
        <div class="col-xs-3 text-center">
            <div class="circle_logo">
                <i class="iconfont" style="color: #36bcf4" id="circle_logo2">&#xe603;</i>
            </div>
            <span style="display: none">BS02</span>
            <p>桶装水</p>
        </div>
        <div class="col-xs-3 text-center">
            <div class="circle_logo">
                <i class="iconfont" style="color: #f5672a" id="circle_logo3">&#xe608;</i>
            </div>
            <span style="display: none">BS03</span>
            <p>炊具</p>
        </div>
        <div class="col-xs-3 text-center">
            <div class="circle_logo">
                <i class="iconfont" style="color: #a0d021" id="circle_logo4">&#xe604;</i>
            </div>
            <span style="display: none">BS04</span>
            <p>其他</p>
        </div>
    </div>

    <div class="lines"></div>

    <div class="content1">
        <p><i class="iconfont" style="color:#e42220;margin-top: -5px">&#xe601;</i>距离您最近</p>

        <div class="content1_panel" ng-repeat="v in results" ng-click="surf_shop(v.openId)">
            <img ng-src="./img/main/{{v.shopImg}}">
            <div class="shadow_panel"></div>
            <div class="words_panel">
                <div class="tag_info">
                    <p>{{v.name}}</p>
                    <p>{{v.address}}</p>
                    <p>{{v.phone}}</p>
                </div>
            </div>
        </div>
    </div>
</div>