<link rel="stylesheet" href="./css/shop_details.css">
<div class="content">
    <div class="img_panel">
        <img ng-src="{{results.img}}" width="100%">
    </div>

    <div class="goods_info">
        <p class="goods_name">{{results.name}}</p>
        <p style="margin:0;"><span class="goods_price">¥{{results.price}}</span><span class="goods_spec">产品规格{{results.weight+results.weightUnit}}</span></p>
        <a ng-href="tel:{{results.business.cellPhone}}"><div class="call">
            <i class="iconfont">&#xe614;</i>
            联系卖家
        </div></a>
    </div>
    <div class="cut_line"></div>
    <div class="goods_info1">
        <p class="shop_name">{{results.business.name}}</p>
        <p class="fanwei"><i class="iconfont">&#xe613;</i>营业范围包括<span ng-bind="results.business.type | business_type"></span></p>
        <p class="address" style="margin:0;"><i class="iconfont">&#xe601;</i>{{results.business.address}}</p>
        <div class="run_shop" ng-click="run_shop(results.business.openId)">
            <i class="iconfont">&#xe602;</i>
            进入店铺
        </div>
    </div>
    <div class="cut_line"></div>
    <div class="goods_details">
        <p class="name">商品详情</p>
        <div style="border-top:1px solid #e42121;margin: 5px 0"></div>
        <div style="padding: 0 10px"><span ng-bind="results.describe" ng-show="results.describe != 'undefined'"></span><span ng-show="results.describe == 'undefined'">暂无</span></div>
    </div>


    <div class="submit_btn">
        <button class="btn btn-danger btn-block" ng-click="surf_orderConfirm()">立即购买</button>
    </div>
</div>