<link rel="stylesheet" href="./css/shop.css">
<div class="content">
    <div class="row top_nav">
        <div class="col-xs-4 text-center" ng-click="nav_self(1)">离我最近
        </div>
        <div class="col-xs-4 text-center" ng-click="nav_self(2)">订单最多
        </div>
        <div class="col-xs-4 text-center" ng-click="nav_self(3)">最新上线
        </div>
        <div class="hk_div">

        </div>
    </div>

    <div class="content1">
        <!--<div class="goods">-->
            <!--<div class="goods_info">-->
                <!--<p class="goods_name">哈哈哈哈哈哈哈哈哈哈<span>300g</span></p>-->
                <!--<p class="goods_info1">店铺电话-651561561351<span class="pull-right">656.00元</span></p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="goods">-->
            <!--<div class="goods_info">-->
                <!--<p class="goods_name">哈哈哈哈哈哈哈哈哈哈<span>300g</span></p>-->
                <!--<p class="goods_info1">店铺电话-651561561351<span class="pull-right">656.00元</span></p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="goods">-->
            <!--<div class="goods_info">-->
                <!--<p class="goods_name">哈哈哈哈哈哈哈哈哈哈<span>300g</span></p>-->
                <!--<p class="goods_info1">店铺电话-651561561351<span class="pull-right">656.00元</span></p>-->
            <!--</div>-->
        <!--</div>-->

        <div class="content1_panel">
            <img src="./img/test1.jpg">
            <div class="shadow_panel"></div>
            <div class="words_panel">
                <img src="./img/banner1-panel.png">
                <div class="tag_info">
                    <p>火气生活液化气罐压缩罐</p>
                    <p>规格-500g</p>
                    <p>价格-666.00元</p>
                    <p>店铺电话-15487854546</p>
                </div>
            </div>
        </div>

        <div class="content1_panel">
            <img src="./img/test.jpg">
            <div class="shadow_panel"></div>
            <div class="words_panel">
                <img src="./img/banner1-panel.png">
                <div class="tag_info">
                    <p>火气生活液化气罐压缩罐</p>
                    <p>规格-500g</p>
                    <p>价格-666.00元</p>
                    <p>店铺电话-15487854546</p>
                </div>
            </div>
        </div>

    </div>
</div>