.content{
    font-family: 微软雅黑;
}
.content-footer{
    display: none;
}
.business_info>div{
    padding: 15px;
    border-bottom: 1px solid #e4e1e1;
}
.business_info span{
    color: #888
}
.business_info input{
    margin-left: 15px;
    border: 0;
}
.business_info i{
    font-size: 24px;
    vertical-align: middle;
}
.zhizhao{
    margin: 0;
}
.zhizhao>div{
    padding: 0;
}
.zhizhao>div>div{
    display: inline-block;
    margin-left: 1px;
}
.zhizhao1{
    width: 56px;
}
.zhizhao2{
    width: 80%;
}