html{
    height: 100%;
    background-color: #e4e1e1;
}

@media screen and (max-width: 330px){
    .btn-self{
        font-size: 12px !important;
        padding: 7px !important;
    }
}

.content-footer{
    display: none;
}
.content {
    font-family: 微软雅黑;
}
.nav_self{
    height: 36px;
}
.nav_self div{
    float: left;
    width: 25%;
    text-align: center;
    border-right: 1px solid #e4e1e1;
    margin: 7px 0;
    font-size: 16px;
    color: #222;
}
.div_hk{
    width: 19%;
    margin-left: 3%;
    border-top: 1px solid #e42121;
    margin-top: 0 !important;
}
.cut_line{
    height: 6px;
    background-color: #e4e1e1;
}
/*.order_panel{*/
/*background-color: #eeeded;*/
/*}*/
.order_title{
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    color:#666;
    border-bottom: 1px solid #e4e1e1;
}
.order_info{
    position: relative;
    margin: 0;
    padding:10px 10px 0;
}

.order_info img{
    width:120px;
    height: 80px;
    vertical-align: baseline;
}
.order_info i{
    color: #c2c2c2;
}

.shop_words{
    margin-left: 5px;
    display: inline-block;
    vertical-align: top
}
.shop_words>p:nth-child(1){
    width: 130px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #222;
    font-size: 16px;
}
.shop_words>p:nth-child(2){
    color: #999;
}
.shop_words>p:nth-child(3){
    color: #e42121;
    font-weight: bold;
    margin: 0;
}

.order_op{
    height: 55px;
    line-height: 55px;
    padding:0 15px;
    background-color: #eeeded;
}
.order_op span{
    color: #999;
}
.btn-self{
    padding: 8px;
    line-height: 1;
    border: 1px solid #e42121;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}
.cut_line{
    height:6px;
}