.content-footer{
    display: none;
}
.content{
    font-family: 微软雅黑;
}
.info_panel1{
    padding:15px;
    border-bottom: 1px solid #e4e1e1;
}
.info_panel input{
    margin-left: 15px;
}
.info_panel1 div{
    display: inline-block;
    margin-left: 38px;
}
.info_panel1 i{
    color:#888;
    font-size: 24px;
    vertical-align: middle;
    margin-right: 5px;
}
.cut_line{
    height: 10px;
    background-color: #e4e1e1;
}