<link rel="stylesheet" href="./css/business/info.css">
<div class="content">
    <div class="business_info">
        <div class="row">
            <span class="col-xs-3">店铺名称</span>
            <div class="col-xs-9">
                <input type="text">
            </div>
        </div>
        <div class="row">
            <span class="col-xs-3">联系电话</span>
            <div class="col-xs-9">
            <input type="text">
                </div>
        </div>
        <div class="row">
            <span class="col-xs-3">固定电话</span>
            <div class="col-xs-9">
            <input type="text">
                </div>
        </div>
        <div class="row">
            <span class="col-xs-3">营业范围</span>
            <div class="col-xs-9">
                <i class="iconfont">&#xe615;</i>
                <span>液化气</span>

                <i class="iconfont">&#xe615;</i>
                <span>液化气</span>

                <i class="iconfont">&#xe615;</i>
                <span>灶具</span>

                <i class="iconfont">&#xe615;</i>
                <span>其他</span>
            </div>
        </div>
        <div>
            <span>营业执照</span>
            <input type="text">
        </div>
        <div>
            <span>店铺地址</span>
            <input type="text">
        </div>
    </div>
</div>