<link rel="stylesheet" href="./css/business/business_account_manage.css">
<div class="content">
    <div class="top_panel">
        <div class="amount">
            <p>收益金额</p>
            <p>20000</p>
        </div>
    </div>
    <div class="center_panel">
        <div class="unContent">
            <i class="iconfont">&#xe632;</i><br>
            <i>暂无收益</i>
        </div>

        <div class="contents">
            <div>
                <span class="money pull-right">+300</span>
                <p>订单编号：<span>125445656</span></p>
                <p>2016-10-10 12:08:26</p>

            </div>
            <div>
                <span class="money pull-right">+300</span>
                <p>订单编号：<span>125445656</span></p>
                <p>2016-10-10 12:08:26</p>
            </div>
            <div>
                <span class="money pull-right">+300</span>
                <p>订单编号：<span>125445656</span></p>
                <p>2016-10-10 12:08:26</p>
            </div>
        </div>
    </div>
</div>