<link rel="stylesheet" href="./css/business/info.css">
<div class="content">
    <div class="business_info">
        <div class="row" style="padding: 15px 10px">
            <span class="col-xs-3">店铺名称<span style="color:#e42121">*</span></span>
            <div class="col-xs-7">
                <input type="text" ng-model="shop.name">
            </div>
        </div>
        <div class="row" style="padding: 15px 10px">
            <span class="col-xs-3">联系电话</span>
            <div class="col-xs-7">
               <span type="text" ng-bind="shop.phone"></span>
            </div>
        </div>
        <div class="row" style="padding: 15px 10px">
            <span class="col-xs-3">座机号码</span>
            <div class="col-xs-7">
            <input type="text" ng-model="shop.tel">
                </div>
        </div>
        <div class="row">
            <span class="col-xs-3 license_words">营业范围</span>
            <div class="col-md-9 col-sm-7 license_panel">
                <div>
                    <i class="iconfont" name="BS01" id="gas">&#xe615;</i>
                    <span>液化气</span>
                </div>

                <div>
                    <i class="iconfont" name="BS02">&#xe615;</i>
                    <span>桶装水</span>
                </div>

                <div>
                    <i class="iconfont" name="BS03">&#xe615;</i>
                    <span>灶具</span>
                </div>
                <div>
                    <i class="iconfont" name="BS04">&#xe615;</i>
                    <span>其他</span>
                </div>
            </div>
        </div>
        <div class="row" id="license_img" style="display: none">
            <span class="col-xs-3" style="margin-top: 10px">营业执照</span>
            <div class="upload_zhizhao pull-right" onclick="javascript:$('#license_file').click()">
                <img src="" height="100%" id="preview" style="display: none">
                <span>上传文件</span>
            </div>
        </div>
        <div class="row" style="border: 0">
            <span class="col-xs-3" style="margin-top: 7px">店铺地址<span style="color:#e42121">*</span></span>
            <input type="text" style="margin-top: 7px" ng-model="myShop">
            <div class="location pull-right" ng-click="location_shop()"><i class="iconfont" style="color: #fff">&#xe601;</i>定位</div>
        </div>
    </div>

    <div style="height: 300px;background-color: #e4e1e1" id="container"></div>
    <p class="map_desc">*请务必精准定位，方便买家查找</p>

    <div class="protocol">
        <i class="iconfont" ng-click="isDisable()">&#xe615;</i>入驻即为同意<span style="color:#e42121" data-toggle="modal" data-target="#myModal">《火气生活商家协议》</span>
    </div>
    <div class="submit_btn">
        <button class="btn btn-danger btn-block" ng-click="submit(shop)" id="a">确认</button>
    </div>

    <input type="file" style="display: none" id="license_file">
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel" ng-bind="protocol_title" style="font-family: 微软雅黑"></h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<div id="overlay">
</div>