<link rel="stylesheet" href="./css/business/user.css">
<div class="content">
    <div class="info_panel">
        <div class="info_panel1">
            <span>商品名称</span>
            <input type="text">
        </div>
        <div class="info_panel1">
            <span>商品分类</span>
            <input type="text">
        </div>
        <div class="info_panel1">
            <span>商品规格</span>
            <input type="text">
        </div>
        <div class="info_panel1">
            <span>商品名称</span>
            <input type="text">
        </div>
        <div class="info_panel1">
            <span>商品现价</span>
            <!--<input type="text">-->
            <select class="form-control">
                <option>111</option>
                <option>111</option>
            </select>
        </div>
        <div class="cut_line"></div>
        <div class="info_panel1">
            <p>请选择支付方式</p>
            <div>
                <i class="iconfont">&#xe615;</i>微信支付
            </div>
            <div>
                <i class="iconfont">&#xe615;</i>货到付款
            </div>
            <div>
                <i class="iconfont">&#xe615;</i>支付定金20%，尾款到付
            </div>
        </div>
    </div>
</div>