<link rel="stylesheet" href="./css/business/order.css">
<div class="content">
    <div class="nav_self">
        <div ng-click="move_hk(1,'OT02')" style="color: #e42121">待接单</div>
        <div ng-click="move_hk(2,'OT03')">待配送</div>
        <div ng-click="move_hk(3,'OT04')">配送中</div>
        <div ng-click="move_hk(4,'OT')" style="border: 0">已结束</div>
    </div>
    <div class="div_hk"></div>
    <div class="cut_line"></div>

    <div class="content1">
        <div class="order_panel" ng-repeat="v in results">
            <div class="order_title">
                <span>订单编号：{{v.no}}</span>
                <span class="pull-right">{{v.createTime}}</span>
            </div>
            <div class="order_info" ng-click="surf_businessOrderDetails(v.id)">
                <img height="100%" ng-src="http://io.huoqilife.com/img/{{v.orderList[0].orderImg}}">
                <div class="shop_words">
                    <p>{{v.orderList[0].name}}</p>
                    <p>购买数量：{{v.orderList[0].quantity}}</p>
                    <p>¥{{v.orderList[0].price}}</p>
                </div>
                <i class="iconfont pull-right" style="margin-top: 32px">&#xe611;</i>
            </div>
            <div style="background: url('./img/bolang.png')" class="order_op">
                <span ng-show="v.status == 'OT00'">订单取消</span>
                <span ng-show="v.status == 'OT01'">待付款</span>
                <span ng-show="v.status == 'OT02'">待接单</span>
                <span ng-show="v.status == 'OT03'">已接单</span>
                <span ng-show="v.status == 'OT04'">配送中</span>
                <span ng-show="v.status == 'OT05'">已完成</span>
                <div style="display: inline-block" class="pull-right" ng-show="v.status == 'OT02'">
                    <div class="btn-self" style="color: #e42121" ng-click="order_update(v.id,'OT06','OT02')">拒绝接单</div>
                    <div class="btn-self" style="color: #fff;background-color: #e42121" ng-click="order_update(v.id,'OT03','OT02')">确认接单</div>
                </div>
                <div style="display: inline-block" class="pull-right" ng-show="v.status == 'OT03'">
                    <div class="btn-self" style="color: #e42121">查看订单</div>
                    <div class="btn-self" style="color: #fff;background-color: #e42121" ng-click="order_update(v.id,'OT04','OT03')">去配送</div>
                </div>
                <div style="display: inline-block" class="pull-right" ng-show="v.status == 'OT04'">
                    <div class="btn-self" style="color: #e42121">查看订单</div>
                </div>
                <div style="display: inline-block" class="pull-right" ng-show="v.status == 'OT'">
                    <div class="btn-self" style="color: #e42121">查看订单</div>
                </div>
            </div>
            <div class="cut_line"></div>
        </div>
    </div>
    <div style="height: 60px;background-color: #e4e1e1;"></div>
</div>