<link rel="stylesheet" href="./css/business/join.css">
<div class="content">
    <img src="./img/business/business_join.png" width="100%">
    <div class="info_panel">
        <input type="text" placeholder="请输入手机号码" ng-model="tel">
        <hr>
        <div>
            <input type="text" placeholder="请输入手机短信验证码" ng-model="sms">
            <div class="message_btn pull-right" ng-click="get_sms()">获取验证码</div>
        </div>
    </div>

    <div class="submit_btn">
        <button class="btn btn-danger btn-block" ng-click="submit()">确认</button>
    </div>

    <div class="desc_panel">
        <p>入驻火气生活店家：</p>
        <p>1.自由营业，时间自选</p>
        <p>2.交易无限制，销售多便利</p>
        <p>3.任何时候都可下单，支付方式多种选择</p>
        <p>4.火气生活将一如既往的最大程度地公平公正维护买卖双方的合法利益，欢迎优质商家入驻。</p>
    </div>

    <div class="bottom_block"></div>
</div>